* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Indie Flower", cursive;
}

#afterCareTopic {
  color: rgb(143, 111, 0);
  font-weight: bolder;
  font-size: 45px;
  text-shadow: rgba(143, 112, 0, 0.699) 3px 3px 3px;
}

#srvicetextSetting {
  font-size: 27px;
  line-height: 35px;
  word-spacing: 1px;
  font-weight: lighter;
  text-align: justify;
  margin: auto 275px;
  padding-top: 75px;
}

#tabletext {
  font-size: 27px;
  line-height: 35px;
  word-spacing: 1px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

#aftercaretextSetting {
  font-size: 27px;
  line-height: 35px;
  word-spacing: 1px;
  font-weight: lighter;
  text-align: justify;
}

.media-box {
  margin: auto;
  box-shadow: 80px 80px 80px rgba(6, 6, 7, 0.2);
  padding: 3px;
  border-radius: 25px;
  border-color: rgb(143, 111, 0);
  border-style: solid;
  overflow: hidden;
  border-width: 5px;
}
