* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Indie Flower", cursive;
}

.firstContainer {
  /* display: flex; */
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* padding-top: 50px; */
  animation: photoslideleft 2s ease;
  animation-fill-mode: backwards;
}

#textSetting {
  font-size: 27px;
  line-height: 35px;
  word-spacing: 1px;
  font-weight: lighter;
  text-align: justify;
  margin: auto;
}

.carouselmedia-box {
  margin: 50px auto auto;
  box-shadow: 80px 80px 80px rgba(6, 6, 7, 0.2);
  padding: 3px;
  border-radius: 25px;
  border-color: rgb(143, 111, 0);
  border-style: solid;
  overflow: hidden;
  border-width: 5px;
}

@keyframes photoslideleft {
  0% {
    opacity: 0;
    transform: translate(0, -5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
