#navColor {
  background: linear-gradient(to bottom, rgb(143, 111, 0), #0b090a);
  height: 75px;
  font-size: 20px;
  animation: slideInFromRight 0.75s ease-out;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translate(0, -1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

#logoutButton {
  width: 100px;
  transition: 1s;
  margin: 0px 5px;
  border-color: white;
  color: white;
  background: linear-gradient(to bottom, rgb(143, 111, 0), #0b090a);
}

#logoutButton:hover {
  transition: 1s;
  transform: scale(1.1);
}
